.btn {
  cursor: pointer;
  border: none;
  color: white;
  padding: 12px 24px;
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-primary {
  background-color: #5d67ff;
}

.btn-link {
  background-color: none;
  color: #5d67ff;
}
