@import "../styles/colors.scss";
.btn {
  cursor: pointer;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 3%);
  }
  &-outline {
    background: none;
    border: 1px solid $color-primary;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.btn-red {
  background-color: #ef453b;
  &:hover {
    background-color: darken(#ef453b, 3%);
  }
  &-outline {
    background: none;
    border: 1px solid #ef453b;
    &:hover {
      background-color: #ef453b;
    }
  }
}

.btn-white {
  background-color: #fff;
  color: #202026;
  &:hover {
    background-color: darken(#fff, 3%);
  }
  &-outline {
    background: none;
    border: 1px solid #fff;
    &:hover {
      background-color: #fff;
    }
  }
}

.btn-link {
  background: none;
  color: $color-primary;
  padding: 0;
  &:hover {
    color: darken($color-primary, 3%);
    // text-decoration: underline;
  }
}

.btn-large {
  height: 48px;
}

.btn-full {
  width: 100%;
}

.btn-round-icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-size: 24px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 12px 16px;
  }
}
