$color-primary: #5d67ff;
$color-danger: #f70628;

$color-text-light: #464e63;
$color-text-dark: white;

$bg-dark-200: #18181d;
$bg-dark-100: #202026;
$border-dark-50: #4a4b4c;

$bg-light-100: #ffffff;
$border-light-50: #e4e5e6;
