.container {
  background-size: cover;
  background-repeat: no-repeat;
  a {
    color: $color-primary;
    text-decoration: none;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $color-primary;
      }
    }
    &.selected {
      color: $color-primary !important;
    }
    &:visited {
      color: $color-primary;
    }

    &.btn-primary {
      color: white;
    }
  }
  &__dark {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 10%,
        rgba(0, 0, 0, 1) 70%
      ),
      url("../images/bg1.jpg");

    color: white;

    .header a {
      color: white;
    }

    .input {
      color: white;
    }

    .bg-100 {
      background-color: $bg-dark-100;
    }

    .bg-200 {
      background-color: $bg-dark-200;
    }

    .border-50 {
      border-color: $border-dark-50;
    }

    .border-100 {
      border-color: $bg-dark-100;
    }

    .divider {
      background-color: white;
    }

    .shadow-default {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .react-datepicker {
      border: 1px solid $border-dark-50;
      background-color: $bg-dark-100;
      .react-datepicker__triangle {
        border-bottom-color: $bg-dark-100;

        &::before {
          border-bottom-color: $border-dark-50;
        }
      }

      .react-datepicker__navigation:focus {
        outline: none;
      }
      .react-datepicker__header {
        background-color: $bg-dark-200;
        border-bottom: 1px solid $border-dark-50;
        .react-datepicker__current-month,
        .react-datepicker__day-name {
          color: white;
        }
      }
      .react-datepicker__month {
        .react-datepicker__day {
          color: white;
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background-color: $color-primary;
            }
          }
          &--keyboard-selected,
          &--selected {
            background-color: $color-primary;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  &__light {
    background-image: linear-gradient(
        0deg,
        rgba(243, 245, 246, 0.4) 0%,
        rgba(243, 245, 246, 0.6) 10%,
        rgba(243, 245, 246, 0.9) 50%,
        rgba(243, 245, 246, 1) 70%
      ),
      url("../images/bg2.jpg");
    color: $color-text-light;

    .header a {
      color: $color-text-light;
    }
    .input {
      color: $color-text-light;
    }

    .bg-100 {
      background-color: $bg-light-100;
    }

    .bg-200 {
      background-color: $bg-light-100;
    }

    .border-50 {
      border-color: $border-light-50;
    }

    .border-100 {
      border-color: $bg-light-100;
    }

    .divider {
      background-color: $bg-dark-200;
    }

    .shadow-default {
      -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    }

    .react-datepicker {
      .react-datepicker__navigation:focus {
        outline: none;
      }
      .react-datepicker__month {
        .react-datepicker__day {
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: white;
              background-color: $color-primary;
            }
          }
          &--keyboard-selected,
          &--selected {
            color: white;
            background-color: $color-primary;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
