.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.normal-font {
  font-weight: 400;
}

.light-font {
  font-weight: 300;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
