.search-bar {
  display: flex;
  input {
    flex: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    &:focus {
      border-right: none;
    }
  }
  button {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
