.header-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 18px 36px;
  max-width: 1280px;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-right: auto;
    &-image {
      width: 24px;
      height: 24px;
      padding: 12px 0;
      margin-right: 12px;
    }
    &-name {
    }
  }
  &-nav-list {
    display: flex;
    align-items: center;
    a {
      margin-left: 48px;
      font-weight: 600;
    }
  }
}

a {
  text-decoration: none;
  &:hover,
  &.selected {
    color: #5d67ff !important;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px;
    &-nav-list {
      a {
        margin-left: 24px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &-nav-list {
      justify-content: space-between;
      margin-top: 18px;
      width: 100%;
      a {
        margin: 0;
      }

      .switch-container {
        position: absolute;
        top: 28px;
        right: 18px;
        p {
          margin-right: 4px;
        }
      }
    }
  }
}
