@import "../../styles/colors.scss";

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 18px 36px;
  max-width: 1280px;
  .logo {
    cursor: pointer;
    height: 48px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 0 12px;
    padding-left: 36px;
    transition: all 200ms ease-in-out;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-image: url("../../images/logo-purple-72.png");
        color: $color-primary !important;
      }
    }
  }
  .nav-list {
    a {
      transition: all 200ms ease-in-out;
      margin-left: 48px;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $color-primary !important;
        }
      }
    }
    .switch-container {
      margin-left: 48px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px;
    .nav-list {
      a,
      .switch-container {
        margin-left: 24px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    .nav-list {
      justify-content: flex-start;
      margin-top: 18px;
      width: 100%;
      a {
        margin-left: 0;
        margin-right: 24px;
      }

      .switch-container {
        position: absolute;
        top: 28px;
        right: 18px;
      }
    }
  }
}
