@import "./styles/colors.scss";
html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  img,
  button,
  input::placeholder {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.container {
  // height: 100vh;
  // min-height: 100vh;
  // min-height: -webkit-fill-available;
  background-attachment: fixed;
  width: 100%;
  overflow: scroll;
  .content {
    display: flex;
    justify-content: center;
    padding: 0 36px;
    transition: all 200ms ease-in-out;
    @media screen and (max-width: 768px) {
      padding: 0 18px;
    }
  }

  .page-container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
  }
}

.no-scroll-bars {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.width-100 {
  width: 100%;
}

.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.hide {
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}

@import "./styles/margins.scss";
@import "./styles/buttons.scss";
@import "./styles/icons.scss";
@import "./styles/inputs.scss";
@import "./styles/flex.scss";
@import "./styles/typography.scss";
@import "./styles/paddings.scss";
@import "./styles/themes.scss";
