.events-page {
  .sidebar {
    &_header {
      display: flex;
      height: 54px;
      align-items: center;
    }
  }
  .detail {
    max-width: 896px;
    flex: 1;
    .filters-bar {
      align-items: center;
      height: 54px;
      padding-bottom: 12px;
      .btn {
        height: 42px;
      }
    }
  }

  .artist-card {
    margin-top: 0;
    &-info-buttons {
      display: none;
    }
  }

  .events-grid {
    @media screen and (min-width: 1093px) {
      height: calc(100vh - 150px);
    }
    @media screen and (max-width: 1092px) and(min-width:864px) {
      height: calc(100vh - 216px);
    }
  }
}

@media screen and (max-width: 1092px) {
  .events-page {
    .detail {
      .filters-bar {
        flex-direction: column;
        height: 108px;
        margin-bottom: 12px;
        .input {
          width: calc(100% - 50px);
          flex: unset;
          margin: 0;
          margin-top: 8px;
          margin-bottom: 16px;
        }

        &_buttons {
          width: 100%;
          .react-datepicker-wrapper {
            flex: 1;
            input {
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 864px) {
  .events-page {
    .page-container {
      flex-direction: column;
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      .artist-card {
        margin-right: 0;
        width: calc(100% - 20px);
        margin-bottom: 16px;
        img,
        .overlay {
          width: 100%;
        }
      }
    }
    .detail {
      .filters-bar {
        padding-bottom: 0;
        margin-bottom: 24px;
        &_buttons {
          .react-datepicker-wrapper:first-child {
            margin-right: 24px;
            @media screen and (max-width: 699px) {
              margin-right: 8px;
            }
          }
        }
      }
    }
    .events-grid {
      overflow: unset;
    }
  }
}

@media screen and (max-width: 768px) {
  .events-page {
    .detail {
      .filters-bar {
        .input {
          width: calc(100% - 44px);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .events-page {
    .detail {
      .filters-bar {
        height: 162px;
        margin-bottom: 12px;
        .input {
          margin-top: 0;
          margin-bottom: 12px;
        }
        &_buttons {
          flex-direction: column;
          .react-datepicker-wrapper {
            margin-bottom: 12px;
            margin-right: 0 !important;
          }
        }
      }
    }
    .events-grid {
      grid-template-columns: auto;
    }
  }
}
