.events-page {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;

  &_container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    &_left {
      &_back {
        display: flex;
        height: 54px;
        align-items: center;
      }
    }
    &_right {
      max-width: 896px;
      flex: 1;
      .filters-bar {
        align-items: center;
        height: 54px;
        padding-bottom: 12px;
        .btn {
          height: 42px;
        }
      }
    }
  }

  .artist-card {
    margin-top: 0;
    // margin-right: 24px;
    &-info-buttons {
      display: none;
    }
  }
}

@media screen and (max-width: 984px) {
  .events-page {
    &_container {
      &_right {
        .filters-bar {
          flex-direction: column;
          height: 108px;
          input {
            width: calc(100% - 50px);
            flex: unset;
            margin-bottom: 16px;
            margin-right: 0;
            margin-top: 8px;
          }

          &_buttons {
            width: 100%;
          }
        }
        .events-grid {
          height: calc(100vh - 204px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .events-page {
    &_container {
      flex-direction: column;
      width: 100%;
      &_left {
        display: flex;
        flex-direction: column;
        width: 100%;
        .artist-card {
          margin-right: 0;
          width: calc(100% - 20px);
          margin-bottom: 24px;
          img,
          .overlay {
            width: 100%;
          }
        }
      }
      &_right {
        .events-grid {
          overflow: unset;
        }
      }
    }
  }
}
