.events-grid {
  overflow-y: scroll;
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-flow: row;
  &_item {
    border-radius: 8px;
    transition: all 200ms ease-in-out;
    height: 272px;
    position: relative;
    overflow: hidden;
    .divider {
      width: 1px;
      height: 32px;
    }

    > a .btn {
      height: 48px;
      width: 100%;
      border-radius: 0;
      position: absolute;
      bottom: 0;
    }
  }
}
